<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="handlers.OtherHelloHandler"
            id="OtherHello.ui.otherhello.command"
            name="otherhello">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
         <command
               commandId="OtherHello.ui.otherhello.command"
               label="OtherHello"
               style="push">
         </command>
      </menuContribution>
   </extension>

</plugin>
